body {
    background-image: url('../Images/Desk/Wall.png');
}

p {
    font-size: 30px;
}

.container1 {
    width: 1200px;
    /*background-color: gray;*/
    margin: auto;
    padding: 8px;
    position:relative;
}

/*Part1*/
#part1 {
    padding-top: 40px;
    position: relative;
    text-align: center;
}

#timer {
    width: 200px;
    
}

#clock{
    color: #33cd02;
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 22px;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*Part2*/
#part2 {
    padding-top: 90px;
    float: left;
}

#frame1, #foto1 {
    -moz-transform: rotate(348deg);
    -webkit-transform: rotate(348deg);
    -o-transform: rotate(348deg);
    -ms-transform: rotate(348deg);
    transform: rotate(348deg); 
}

#frame1 {
    width: 250px;
    position: absolute;
}

#foto1 {
    width: 224px;
    margin-top: 13px;
    margin-left: 13px;
}


/*Part3*/
#part3 {
    padding-top: 260px;
    float: right;
}

#frame3, #foto3 {
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg); 
}

#frame3 {
    width: 300px;
    position: absolute;
}

#foto3 {
    width: 267px;
    margin-top: 16px;
    margin-left: 16px;
}


@media screen and (max-width: 1000px) {
    .container1 {
        width: 360px;
    }

    #part3 {
        padding-top: 130px;
        padding-left: 30px;
        float: none;
    }

    #part2 {
        padding-top: 80px;
        float: none;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .container1 {
        width: 800px;
    }
}

@media screen and (min-width: 2200px) {
    .container1 {
        width: 1800px;
    }
}

